
@{
    Layout = null;
}
@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatabaseError</title>
</head>
<body>
    <div> 
        @Model.Exception
        <h1>Hata Ekranı</h1>
    </div>
</body>
</html>
